<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AspNetCore" value="https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json" />
    <!--

            Error:(13, 49) : The dependency Microsoft.AspNetCore.StaticFiles >= 1.1.0-* could not be resolved.
            Error:(15, 52) : The dependency Microsoft.AspNetCore.SignalR.Server >= 0.2.0-* could not be resolved.
            Error:(16, 50) : The dependency Microsoft.AspNetCore.WebSockets >= 0.2.0-* could not be resolved.

    15:26	DotNetCore:
            Errors in project.json
    15:26	DotNetCore:
            Unable to resolve 'Microsoft.AspNetCore.SignalR.Server (>= 0.2.0)' for
            '.NETCoreApp,Version=v1.0'.


    In order to fix package errors

    1.  add NuGet.conf to the root of the project
    2.  in the root of the project run - dotnet restore
    -->
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>